<?xml version="1.0" encoding="UTF-8"?>
<metadata>
  <idinfo>
    <citation>
      <citeinfo>
        {{#authors}}
  <origin>{{.}}</origin>
  {{/authors}}
        <pubdate>{{pubdate}}</pubdate>
        <title>{{title}}</title>
        <geoform>{{geo-format}}</geoform>
        <pubinfo>
          <pubplace>Online (digital release)</pubplace>
          <publish>{{data-publisher}}</publish>
        </pubinfo>
        <onlink>{{doi}}</onlink>
        {{#larger-cites}}<lworkcit>
    <citeinfo>
      {{#authors}}
      <origin>{{.}}</origin>
      {{/authors}}
      <pubdate>{{pubdate}}</pubdate>
      <title>{{title}}</title>
      {{#form}}
      <geoform>{{.}}</geoform>
      {{/form}}
      {{#link}}
      <onlink>{{.}}</onlink>
      {{/link}}
    </citeinfo>
  </lworkcit>
{{/larger-cites}}
      </citeinfo>
    </citation>
    <descript>
      <abstract>{{abstract}}</abstract>
      <purpose>{{purpose}}</purpose>
    </descript>
    <timeperd>
      <timeinfo>
        <rngdates>
          <begdate>{{start-date}}</begdate>
          <enddate>{{end-date}}</enddate>
        </rngdates>
      </timeinfo>
      <current>See publication date</current>
    </timeperd>
    <status>
      <progress>Complete</progress>
      <update>{{update}}</update>
    </status>
    <spdom>
      <bounding>
        <westbc>{{wbbox}}</westbc>
        <eastbc>{{ebbox}}</eastbc>
        <northbc>{{nbbox}}</northbc>
        <southbc>{{sbbox}}</southbc>
      </bounding>
    </spdom>
    <keywords>
      <theme>
        <themekt>none</themekt>
          {{#themekeywords}}
          <themekey>{{.}}</themekey>
      {{/themekeywords}}</theme>
      <theme>
        <themekt>ISO 19115 Topic Category</themekt>
        <themekey>environment</themekey>
        <themekey>inlandWaters</themekey>
      </theme>
      <place>
        <placekt>Department of Commerce, 1995, Countries, Dependencies, Areas of Special Sovereignty, and Their Principal Administrative Divisions,  Federal Information Processing Standard (FIPS) 10-4, Washington, D.C., National Institute of Standards and Technology</placekt>
        <placekey>United States</placekey>
        <placekey>US</placekey>
      </place>
      <place>
        <placekt>U.S. Department of Commerce, 1987, Codes for the identification of the States, the District of Columbia and the outlying areas of the United States, and associated areas (Federal Information Processing Standard 5-2): Washington, D. C., NIST</placekt>
          {{#states}}
          <placekey>{{state-name}}</placekey>
          <placekey>{{state-abbr}}</placekey>
          {{/states}}
      </place>
    </keywords>
    <accconst>none</accconst>
    <useconst>{{usage-rules}}</useconst>
    <ptcontac>
      <cntinfo>
        <cntperp>
          <cntper>{{contact-person}}</cntper>
          <cntorg>U.S. Geological Survey</cntorg>
        </cntperp>
        <cntpos>{{contact-position}}</cntpos>
        <cntaddr>
          <addrtype>Mailing and Physical</addrtype>
          <address>{{contact-address}}</address>
          <city>{{contact-city}}</city>
          <state>{{contact-state}}</state>
          <postal>{{contact-zip}}</postal>
          <country>U.S.A.</country>
        </cntaddr>
        <cntvoice>{{contact-phone}}</cntvoice>
        <cntemail>{{contact-email}}</cntemail>
      </cntinfo>
    </ptcontac>
    <datacred>{{funding-credits}}</datacred>
    <native>{{build-environment}}</native>
    {{#cross-cites}}<crossref>
    <citeinfo>
      {{#authors}}
      <origin>{{.}}</origin>
      {{/authors}}
      <pubdate>{{pubdate}}</pubdate>
      <title>{{title}}</title>
      {{#link}}
      <onlink>{{.}}</onlink>
      {{/link}}
    </citeinfo>
  </crossref>
{{/cross-cites}}
  </idinfo>
  <dataqual>
    <attracc>
      <attraccr>{{accur-test}}</attraccr>
    </attracc>
    <logic>Not applicable</logic>
    <complete>Not applicable</complete>
    <posacc>
      <horizpa>
        <horizpar>A formal accuracy assessment of the horizontal positional information in the dataset was not conducted.</horizpar>
      </horizpa>
    </posacc>
    <lineage>
      {{#source-cites}}<srcinfo>
        <srccite>
          <citeinfo>
            {{#authors}}
            <origin>{{.}}</origin>
            {{/authors}}
            <pubdate>{{pubdate}}</pubdate>
            <title>{{title}}</title>
            {{#link}}
            <onlink>{{.}}</onlink>
            {{/link}}
          </citeinfo>
        </srccite>
        <typesrc>online</typesrc>
        <srctime>
          <timeinfo>
            {{#sngdate}}<sngdate>
              <caldate>{{caldate}}</caldate>
            </sngdate>{{/sngdate}}
            {{#rngdates}}<rngdates>
              <begdate>{{begdate}}</begdate>
              <enddate>{{enddate}}</enddate>
            </rngdates>{{/rngdates}}
          </timeinfo>
          <srccurr>{{srccurr}}</srccurr>
        </srctime>
        <srccitea>{{srccitea}}</srccitea>
        <srccontr>{{srccontr}}</srccontr>
      </srcinfo>
{{/source-cites}}
      <procstep>
        <procdesc>{{process-description}}</procdesc>
        <procdate>{{process-date}}</procdate>
      </procstep>
    </lineage>
  </dataqual>
  <spdoinfo>
    <indspref>{{indirect-spatial}}</indspref>
    <direct>{{feature-type}}</direct>
    <ptvctinf>
      <sdtsterm>
        <sdtstype>{{feature-type}}</sdtstype>
        <ptvctcnt>{{feature-count}}</ptvctcnt>
      </sdtsterm>
    </ptvctinf>
  </spdoinfo>
  <spref>
    <horizsys>
      <geograph>
        <latres>{{latitude-res}}</latres>
        <longres>{{longitude-res}}</longres>
        <geogunit>Decimal degrees</geogunit>
      </geograph>
      <geodetic>
        <horizdn>WGS84</horizdn>
        <ellips>WGS_1984</ellips>
        <semiaxis>6378137.0</semiaxis>
        <denflat>298.257</denflat>
      </geodetic>
    </horizsys>
  </spref>
  <eainfo>
    {{#entities}}<detailed>
      <enttyp>
        <enttypl>{{data-name}}</enttypl>
        <enttypd>{{data-description}}</enttypd>
        <enttypds>{{data-defsrc}}</enttypds>
      </enttyp>
      {{#attributes}}<attr>
        <attrlabl>{{attr-label}}</attrlabl>
        <attrdef>{{attr-def}}</attrdef>
        <attrdefs>{{attr-defs}}</attrdefs>
        <attrdomv>
          <rdom>
            <rdommin>{{data-min}}</rdommin>
            <rdommax>{{data-max}}</rdommax>
            <attrunit>{{data-units}}</attrunit>
          </rdom>
        </attrdomv>
      </attr>
{{/attributes}}
    </detailed>
{{/entities}}
  </eainfo>
  <distinfo>
    <distrib>
      <cntinfo>
        <cntorgp>
          <cntorg>U.S. Geological Survey</cntorg>
          <cntper>GS ScienceBase</cntper>
        </cntorgp>
        <cntaddr>
          <addrtype>mailing address</addrtype>
          <address>Denver Federal Center, Building 810, Mail Stop 302</address>
          <city>Denver</city>
          <state>CO</state>
          <postal>80255</postal>
          <country>United States</country>
        </cntaddr>
        <cntvoice>1-888-275-8747</cntvoice>
        <cntemail>sciencebase@usgs.gov</cntemail>
      </cntinfo>
    </distrib>
    <distliab>{{liability-statement}}</distliab>
    <stdorder>
      <digform>
        <digtinfo>
          <formname>{{transfer-format}}</formname>
        </digtinfo>
        <digtopt>
          <onlinopt>
            <computer>
              <networka>
                <networkr>{{doi}}</networkr>
              </networka>
            </computer>
          </onlinopt>
        </digtopt>
      </digform>
      <fees>None</fees>
    </stdorder>
  </distinfo>
  <metainfo>
    <metd>{{metadata-date}}</metd>
    <metc>
      <cntinfo>
        <cntperp>
          <cntper>{{metadata-person}}</cntper>
          <cntorg>U.S. Geological Survey</cntorg>
        </cntperp>
        <cntpos>{{metadata-position}}</cntpos>
        <cntaddr>
          <addrtype>Mailing and Physical</addrtype>
          <address>{{metadata-address}}</address>
          <city>{{metadata-city}}</city>
          <state>{{metadata-state}}</state>
          <postal>{{metadata-zip}}</postal>
          <country>U.S.A.</country>
        </cntaddr>
        <cntvoice>{{metadata-phone}}</cntvoice>
        <cntfax>{{metadata-fax}}</cntfax>
        <cntemail>{{metadata-email}}</cntemail>
      </cntinfo>
    </metc>
    <metstdn>FGDC Content Standard for Digital Geospatial Metadata</metstdn>
    <metstdv>FGDC-STD-001-1998</metstdv>
  </metainfo>
</metadata>
